<div class="center-form">
  <%= image_tag 'app_logo.png', :size => "280x90" %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <%= f.input :first_name,
                required: true,
                autofocus: true
                %>
    <%= f.input :last_name,
                required: true,
                autofocus: true
                %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

  <div class="sign-in-button">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
