<div class="fluid-container col-sm-10 col-sm-offset-2" style="margin-bottom: 10px;">
  <p id="notice"><%= notice %></p>
  <%#= #link_to 'Edit', edit_chatroom_path(@chatroom) %>
<div class="container"><h3><%= @chatroom.place.name %></h3></div>
</div>

<div style="margin-left: 10px; margin-right: 10px;">
  <nav >
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Chat</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Friends in chat</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Invite friends</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" style="margin-top: 20px;" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <!-- #chat content -->
      <div>
        <div data-behavior='messages'>
          <% @chatroom.messages.each do |message| %>

          <div><%= cl_image_tag message.user.photo, class: "avatar" %><strong> <%= message.user.username_initial%>: </strong>  <%= message.body %></div>
          <% end %>
        </div>
        <%= simple_form_for [@chatroom.place, @chatroom, Message.new], remote:true do |f| %>

        <div class="input-group d-flex align-items-end">
        <%= f.text_area :body, rows: 1, placeholder: "Type a message", class: "form-control inputdefault", autofocus: false %>
          <div class="input-group-append ">
        <%= f.button :submit, 'send', class: "btn btn-outline-secondary border-10 " %>
        <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div >
        <ul class="list-group" style="height: 250px; overflow: scroll;">
         <% @chatroom.users.each do |user| %>
         <li class="list-group-item d-flex justify-content-between align-items-center"> <%= user.first_name %> <%= user.last_name %>
          <span class="badge badge-friendzy badge-pill"> <%= link_to "Remove", place_chatroom_remove_participant_path(@chatroom.place, @chatroom, user.id), method: :delete %> </span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div >
      <ul class="list-group" style="height: 500px; overflow: scroll;">
       <% @chatroom.available_nonparticipants.each do |friend| %>
       <li class="list-group-item d-flex justify-content-between align-items-center"> <%= friend.first_name %> <%= friend.last_name %>
        <span class="badge badge-friendzy badge-pill"><%= link_to "Add", place_chatroom_add_participant_path(@chatroom.place, @chatroom, friend.id) %> </span>
      </li>
      <% end %>
    </ul>
  </div>

  </div>
</div>
</div>
