<div class="fluid-container col-sm-10 col-sm-offset-2" style="margin-bottom: 70px;">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
  <%= link_to 'Back', chatrooms_path %>
  <div class="navbar navbar-default navbar-fixed-top pt-5">
  <p>
    <strong>Name:</strong>
    <%= @chatroom.name %>
  </p>
  </div>
  <div data-behavior='messages'>
    <% @messages.each do |message| %>
    <div><strong><%= message.user.username_initial%>: </strong>  <%= message.body %></div>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, Message.new], remote:true do |f| %>
    <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
    <%= f.button :submit, class: " btn btn-success submit-btn" %>
  <% end %>



</div>
