<div class="devise-body">



<div center-form-parent>
<div class="center-form">

<%= image_tag 'app_logo.png', :size => "242x80" %>

<h4>Forgot your password?</h4>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" },
                placeholder: 'Email' %>
  </div>

  <div class="submit-form-button">
    <%= f.button :submit, "Reset password" %>
  </div>
<% end %>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>
