<div>
<strong><%= @user.first_name.upcase %> <%= @user.last_name.upcase  %></strong>
</div>

<% if @user.interests.any? %>
<em> Interested in: </em>
<% @user.interests.each do |int| %>
  <ul>
    <li><%= int.name %></li>
  </ul>
<% end  %>
<% else %>
<%= @user.first_name %><%= "has not specified any interest yet." %>


<div class="card form-interest">
Specify your interests:
<ul class="list-group list-group-flush">
<%= simple_form_for :interests, url: user_user_interests_path(current_user.id), method: :post do |f| %>
    <li class="list-group-item"> <%= f.input :interest, as: :check_boxes, collection: Interest.all  %></li>
</ul>
<div class="save-button">
  <p>
    <input type="submit" name="commit" value="save" class="btn btn-secondary align-items-center" data-disable-with="save" >
  </p>
<% end %>
<% end %>
</div>


<h2><%#= link_to :cancel, page_path(@user) %></h2>
</div>
<div>
  <%= link_to "< Back", root_path %>
</div>

