<div class="center-form">


    <%= image_tag 'app_logo.png', :size => "280x90" %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: false,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    label:false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.submit 'Log in', class: 'myButton' %>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>


