<!-- <h1>Places List</h1> -->

<%= link_to "Home", root_path %>



<%= form_tag places_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a place to hang out"
  %>
<% end %>

<div class="container-places mt-5">

<% @places.each do |place| %>

<%= link_to place_path(place) do %>

  <div class="card-event">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded">
    <div class="card-event-infos">
      <div class="card-event-header">
        <h6>16/02/2019</h6>
        <h6><%= truncate(place.name, length:10) %></h6>
        <input type="hidden" <%= place.category %> >
        <input type="hidden"<%= place.address %> >
      </div>
      <div class="card-event-details">
        <p>Fred and Ethel may be interested</p>
      </div>
    </div>

  </div>
  <% end %>
<% end %>
</div>
