<!-- <div class="card-show-places-container ">
  <div class="card-show-places">
    <div class="card-show-places-infos">
      <div>
        <%= cl_image_tag(@place.photo) %>
        <h2><%#= @place.name %></h2>
        <p><%= @place.address %></p>
        <p>Category: <%= @place.category %></p>
      </div>
    </div>
  </div>  <#!--card-show-places  end -->
  <!-- </div>   --> <!-- card-show-places-container  end-->
  <%#= link_to "Invite Friends", place_chatrooms_path(@place), method: :post %>
  <div class="card" pt-0>
    <%= cl_image_tag(@place.photo, transformation: [
    {:width=>400, :height=>250, :gravity=>"south", :crop=>"fill"}]) %>
    <div class="card-img-overlay">
      <h5 class="card-title text-white"> <strong> <%= link_to "<", root_path, {:style=>'color:#FFFFFF;'} %></strong> </h5>
    </div>
    <!-- <div class="card-body mx-5"> -->
    <!-- <div class="card-place"> -->
    <div class=" card-place row d-flex justify-content-center align-bottom">
      <div class="card-place-infos">
        <h5 class="card-title"><%= @place.name %></h5>
        <p class="card-text"><%= @place.description %></p>
        <div class="text-center card-button-pos">
          <div class="btn btn-friendzy btn-padding-show">
            <%= link_to "Go here!", place_chatrooms_path(@place), method: :post, class: 'text-white font-weight-bold'  %>
          </div>
        </div>
      </div>
      </div>  <!-- class card place-->
      </div>  <!-- class card end-->
