<!DOCTYPE html>
<html>
  <head>
    <title>Friendzy - Keep Connected</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if current_user %>
    <%= render 'shared/navbar' %>
    <div style="height: 70px; background-color: transparent;"></div>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <% if current_user %>
    <%= render 'shared/footer' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
