<!DOCTYPE html>
<html>
  <head>
    <title>Friendzy - Keep Connected</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>
  <body>
    <% unless current_page?(root_path) %>
      <%= render 'shared/navbar' %>
      <div style="height: 90px;"></div>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <% unless current_page?(root_path) %>
      <%= render 'shared/footer' %>
      <div style="height: 28px; background-color: transparent;"></div>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
